<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"/>
<head>
<title>Repertoire</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Repertoire</h1>
	<p>Here you can add a new song into band's repertoire</p>
	<div>
		<form th:object="${song}" th:action="@{saveSong}" action="#" method="post">
			<p><label for="name">Name of the song</label>
			<input type ="text"id="name" th:field="*{name}" /> </p>
			<p><label for="key"> Song Key </label>
			<input type="text"id="key" th:field="*{key}" /> </p>
			<p><label for="originalPerformer">Original Performer</label>
			<input type ="text"id="originalPerformer" th:field="*{originalPerformer}" /></p>
			<p><label for="totalLength">Length of the song (mm:ss)</label>
			 <input type ="text"id="totalLength" th:field="*{totalLength}" /></p>			
			<p><input type ="submit" value="Add"></p>
			
		</form>
	</div>
	<a th:href="@{/index}" class="btn btn-primary">Back</a>
</body>
</html>