<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"/>
<head>
<title>Repertoire</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1>Edit a song's information</h1>
			<p>Change the song's information.</p>
		</div>
	</div>
	
	<div style="padding: 10px;">
		<form th:object="${song}" th:action="@{../saveSong}" action="#" method="post">
			<input type="hidden" id="id" th:field="*{id}"/>
			<table>
				<tr>
					<td><label for="name">Name of the song</label></td>
					<td><input type ="text"id="name" th:field="*{name}" /> </td>
					<td th:if="${#fields.hasErrors('name')}"
		                    th:errors="*{name}">Name error</td>
				</tr>
				<tr>
					<td><label for="songkey"> Song Key </label></td>
					<td><input type="text"id="songkey" th:field="*{songkey}" /> </td>
					<td th:if="${#fields.hasErrors('songkey')}"
		                    th:errors="*{songkey}">Song key error</td>
				</tr>
				<tr>
					<td><label for="originalPerformer"> Original Performer </label></td>
					<td><input type="text"id="originalPerformer" th:field="*{originalPerformer}" /> </td>
					<td th:if="${#fields.hasErrors('originalPerformer')}"
		                    th:errors="*{originalPerformer}">Original performer error</td>
				</tr>
				<tr>
					<td><label for="totalLength">Length of the song (mm:ss)</label></td>
					<td><input type ="text"id="totalLength" th:field="*{totalLength}" /></td>
					<td th:if="${#fields.hasErrors('totalLength')}"
		                    th:errors="*{totalLength}">Total length error</td>	
				 </tr>
				 <tr>	
				 <tr>
					<td><label for="genres">Genre</label></td>
					<td><select id="genres" th:field="*{genre}">
       				<option th:each="genre: ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
    				</select></td>
    				<td></td>		
				</tr>	
					<td><input type ="submit" class="btn btn-success" value="Update"></td>
				</tr>
			</table>		
		</form>
	</div>
	
	<div style="padding: 10px;">
		<a th:href="@{/songlist}" class="btn btn-primary">Back</a>
	</div>
	
</body>
</html>