<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"/>
<head>
<title>Edit a gig</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1>Edit a gig's information</h1>
			<p>Change the gig's information.</p>
		</div>
	</div>
	
	<div style="padding: 10px;">
		<form th:object="${gig}" th:action="@{../saveGig}" action="#" method="post">
			<input type="hidden" id="id" th:field="*{id}"/>
			<table class="table-borderless">
				<tr>
					<td><label for="location">Where? (location)</label></td>
					<td><input type ="text"id="location" th:field="*{location}" /> </td>
					<td th:if="${#fields.hasErrors('location')}"
		                    th:errors="*{location}">Location error</td>
	            </tr>
	            <tr>
					<td><label for="comment">Type of the event? (wedding, birthday etc.) </label></td>
					<td><input type="text"id="comment" th:field="*{comment}" /> </td>
					<td th:if="${#fields.hasErrors('comment')}"
		                    th:errors="*{comment}">Comment error<td>
	            </tr>
	            <tr>
					<td><label for="pvm">When? Date and time (e.g. 01.12.2019 12.00)</label></td>
					<td><input type ="text"id="pvm" th:field="*{pvm}" /></td>
					<td th:if="${#fields.hasErrors('pvm')}"
		                    th:errors="*{pvm}">Date error</td>	
	             </tr>	
	             <tr>	
					<td><input type ="submit" class="btn btn-success" value="Add"></td>
				</tr>
			</table>
			
		</form>
	</div>
	
	<div style="padding: 10px;">
		<a th:href="@{/giglist}" class="btn btn-primary">Back</a>
	</div>
</body>
</html>