<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"/>
<head>
    <title>Set list manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1>Keep your band repertoire and gigs in order!</h1>
			<h3>Welcome [[${#httpServletRequest.remoteUser}]]</h3>
		</div>
	</div>
	<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
	  <ul class="navbar-nav">
	  	<li class="nav-item">
	      <a class="nav-link" style="font-size: 25px;" th:href="@{/index}">Home</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" style="font-size: 25px;" th:href="@{/songlist}">Show repertoire</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" style="font-size: 25px;" th:href="@{/giglist}">Show gigs</a>
	    </li>
	  </ul>
	</nav>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign out" class="btn btn-sm btn-danger" style="margin-top: 20px; font-size: 20px;"/>
	</form>

</body>
</html>