<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"/>
<head>
    <title>Set list manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Keep your band repertoire, set lists and gigs in order!</h1>
		<a th:href="@{/songlist}">Show repertoire</a>
		<a th:href="@{/giglist}">Show gigs</a>
</body>
</html>